<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Parking Lot Portal v1</title>
<link rel="stylesheet" th:href="@{css/stles.css}">
</head>
<body>
	<div id="header">
		<div class="headerColor">
			<ul>
			<li> <a href="index.html" th:href="@{/home}"> Home </a> </li>
			<li> <a href="employees.html" th:href="@{/employees}"> Employees</a> </li>
			<li> <a href="#" th:href="@{/home}"> Services </a> </li>
			</ul>
		</div>
		<h1> Home</h1>
		
	</div>

</body>
</html>